@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');


.header {
	box-sizing: border-box;
	height:80px;
	box-shadow: 0 2px 4px rgba(44, 61, 73, 0.14);
}
.header__wrapper {
	width: 980px;
	margin: 0 auto;
}
.header__header_logo {
	display: inline-block;
	margin: 30px 20px 25px 20px;
	vertical-align: top;
	

}
.header__header_text {
	display:inline-block;
	font-size: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #303031;
	margin: 30px 10px 30px 0px;
	vertical-align: top;
}
.main {
	background-color: #eaedf3;
}
.main__wrapper {
	width: 980px;
	margin: 0 auto;
	position:relative;
}

.main__wrapper::after {
    content: "";
    display: table;
    clear: both;
}
.main__mac_img {
	display: inline-block;
    position: absolute;
    background-image: url(../img/macs.png);
    width: 545px;
    height: 491px;
    left: -72px;
    top: 90px;
}

.main__info_block {
	width: 500px;
    padding: 115px 0 60px;
    float: right;
}
.button {
	display: block;
	position: relative;
    width: 400px;
    height: 80px;
	background-color: #ff863d;
	border-radius:5px;
	color:#ffffff;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	border: none;
	box-shadow: 0 9px 25px rgba(44, 61, 73, 0.15);
	}
	.btn_text {
	position: absolute;
	left: 100px;
    top: 28px;
	}
	.btn_arrow {
	position: absolute;
    left: 310px;
    top: 6px;

	}
#text_bold {
	font-size: 32px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	font-weight: 300;
	color: #303031;
	padding-bottom: 30px;
	padding-top: 30px;
}
.list_text {
	    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #303031;
    position: relative;
    padding-left: 42px;
    line-height: 1.45;
    margin-bottom: 27px;
}
.list_img {
	position: absolute;
	top: 0px;
    left: -8px;
}
.link_download {
	margin-left: 100px;
	padding-top: 15px;
    width: 200px;
    text-align: center;
    display: block;
    color: #399dde;
    font-size: 16px;
    font-family: 'Source Sans Pro Regular', sans-serif;
}

.link_benefits {
	width: 205px;
	position:relative;
	display: inline-block;
    color: #399dde;
    font-size: 16px;
    font-family: 'Source Sans Pro Regular', sans-serif;
    padding-left: 43px;
    margin-top: -7px;
}
.icon_question {
position:absolute;
right: 33px;
    top: -1px;
}
.reviews {

}
.reviews__wrapper {
	width: 980px;
	margin:0 auto;
}
.reviews__img_comics {
display: block;
margin: 0 auto;
}
.reviews__title {
	color: #303031;
    font-size: 30px;
    font-family: 'Source Sans Pro Regular', sans-serif;
	text-align: center;
}
.button_blue {
	display: block;
	position: relative;
	margin: 0 auto;
    width: 400px;
    height: 80px;
	background-color: #00afff;
	border-radius:5px;
	color:#ffffff;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	border: none;
	box-shadow: 0 9px 25px rgba(44, 61, 73, 0.15);
	}
.link_download2 {
	margin: 0 auto;
    width: 200px;
    text-align: center;
    display: block;
    color: #399dde;
    font-size: 16px;
    font-family: 'Source Sans Pro Regular', sans-serif;
}
.reviews__block2 {
	background-color:#f7fafc;
	
}
.reviews__block2_wrapper {
	margin:0 auto;
	width: 980px;
}
.reviews__block2-img {
	padding: 50px;
}
.footer {
	background-color: #eff3f6;
}
.footer__wrapper {
	width: 980px;
	margin: 0 auto;
}
.footer__info_links {
	width: 100%;
	border-top: solid 1px #e1e3e4;
	border-bottom: solid 1px #e1e3e4;
}
.footer__menu {
	text-align: center;
	
}
.footer__menu-item {
	display:inline-block;
    padding: 20px 9px;
    
}
.footer__menu-link {
	text-decoration: none;
	color: #171717;
	font-size: 14px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	font-weight: 600;
}
.footer__legals_text {
    text-align: center;

}
.footer__lagals_text-item {
	position: relative;
	color: #4f4f4f;
	font-size: 14px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	padding: 28px;
    line-height: 21px;
}
#grey_color {
	color: #999999;
	font-size: 14px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	padding: 0px 0px 28px 0px;
    line-height: 21px;
}
#star {
	position: absolute;
	left: 147px;
}
#stars {
	position: absolute;
	left: 372px;
}